/*복사본*/

.bodybox { /* 가로 1000 바디*/
	margin: 0 auto;
	border: 1px solid;
	width: 900px;
	padding: 10px;
	border: none;
}

.containerbox { /*병원정보 입력 컨테이너 묶는 섹션*/
	margin: 0 auto;
	height: auto;
	border: 1px solid;
	width: 900px;
	padding: 10px;
	border-radius: 20px;
	border: none;
}

.containerprofilem { /*내부 입력 모으는 용 회색선 박스*/
	margin: 0 auto;
	height: auto;
	border: 1px solid;
	width: 600px;
	padding: 10px 40px;
	border-radius: 20px;
	border: 1px solid rgb(201, 201, 201);
}

.containerprofile { /*내부 입력 모으는 용 회색선 박스*/
	margin: 0;
	height: auto;
	border: 1px solid;
	width: 800px;
	padding: 40px 70px;
	border-radius: 20px;
	border: 1px solid rgb(201, 201, 201);
}
.content {
	margin:0 auto; 
	width: 900px;
}
.content-list { /* 테이블용 */
	margin:0 auto;
	width: 1400px;
}

/* 마이페이지 내용 사이즈 설정 */
.mypage-content {
	margin:0 auto; 
	width: 900px;
	padding-top: 60px;
	padding-left: 300px;
}

h3 {
	text-align: center;
}

h4 {
	text-align: left;
}

.time{
	padding: 30px 0;
}


.title {
	float: left;
	width: 150px;
	text-align: left;
	font-weight: bold;
}

.row {
	height: 30px;
	padding: 5px;
}

.rowwrite {
	text-align: left;
}

.bigrow {
	height: 30px;
	padding: 20px;
}

tr{ padding: 10px;}

