input[type=text] {
	padding-left: 10px;
	width: 340px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid rgb(201, 201, 201);
}

.underlinesmall {
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid rgb(201, 201, 201);
}

input[type=address] {
	padding-left: 10px;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid rgb(201, 201, 201);
}

#input_box {
	padding-left: 10px;
	width: 300px;
	height: 150px;
	border-radius: 5px;
	border: 1px solid rgb(201, 201, 201);
}


input[type="checkbox"] {
	vertical-align: middle;
	appearance: none; /* 기본 체크박스 모양을 없앰 */
	width: 1.25em;
	height: 1.25em;
	border: 1px solid #D1D1D1;
	border-radius: 20%;
	background-color: white;
	cursor: pointer;
	transition: background-color 0.1s ease;
}

input[type="checkbox"]:checked {
	background-color: #03C75A; /* 체크된 상태의 배경색 */
	border-color: #03C75A;
}

input[type="checkbox"]:checked::after {
	content: "✓";
	font-size: 16px;
	color: white;
	display: block;
	text-align: center;
	line-height: 18px;
}

input[type="checkbox"] {
	accent-color: #03C75A;
}

.tdinput {
	float: left;
}

.filebox .upload-name {
	display: inline;
	height: 40px;
	padding: 0 10px;
	vertical-align: center;
	border: 1px solid rgb(201, 201, 201);
	width: 50%;
	color: #999999;
	border-radius: 10px;
}

.filebox label {
	display: inline;
	padding: 10px 20px;
	color: #262627;
	vertical-align: middle;
	background-color: #ffffff;
	cursor: pointer;
	height: 20px;
	margin-left: 10px;
	border-radius: 10px;
	border: 1px solid rgb(201, 201, 201);
}

.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.address {
	display: inline;
	height: 40px;
	padding: 0 10px;
	border: 1px solid rgb(201, 201, 201);
	width: 50%;
	color: #999999;
	border-radius: 10px;
}

.btn {
	text-align: left;
	padding: 10px 20px;
	color: #262627;
	vertical-align: middle;
	background-color: #ffffff;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
	border-radius: 10px;
	border: 1px solid rgb(201, 201, 201);
	padding: 10px 20px;
}